=begin
#Braze

#Track users, send messages, export data, and more

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.3.1

=end

require 'cgi'

module Braze
  class RestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Record custom events, purchases, and update user profile attributes
    # @param users_track_request [UsersTrackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InlineResponse200]
    def users_track(users_track_request, opts = {})
      data, _status_code, _headers = users_track_with_http_info(users_track_request, opts)
      data
    end

    # Record custom events, purchases, and update user profile attributes
    # @param users_track_request [UsersTrackRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InlineResponse200, Integer, Hash)>] InlineResponse200 data, response status code and response headers
    def users_track_with_http_info(users_track_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RestApi.users_track ...'
      end
      # verify the required parameter 'users_track_request' is set
      if @api_client.config.client_side_validation && users_track_request.nil?
        fail ArgumentError, "Missing the required parameter 'users_track_request' when calling RestApi.users_track"
      end
      # resource path
      local_var_path = '/users/track'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(users_track_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InlineResponse200'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"RestApi.users_track",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RestApi#users_track\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
